{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint",
    "prettier/react"
  ],
  "plugins": ["@typescript-eslint", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2018, // Allows for the parsing of modern ECMAScript features
    "sourceType": "module" // Allows for the use of imports
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "quotes": "off",
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "none",
        "semi": true,
        "singleQuote": true
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
